.container{
    display: block;
}
.background-title{
    width: 100vw;
    height: 10vw;
    background: #3997F0;
    display: flex;
}
.title{
    font-family: 'Roboto', sans-serif, 400;
    font-size: 3vw;
    margin: auto;
    color: #F2F2F2;
}
.label-done{
    font-size: 1.2vw;
    font-weight: bold;
    position: relative;
    top: .2vw;
}
.complete-list-element{
    text-align: center;
    margin-top: 2vw;
}